<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Generate a new log file name at the start of each execution -->
    <timestamp key="EXECUTION_TIMESTAMP" datePattern="yyyy-MM-dd-HH-mm-ss"/>
    <timestamp key="FOLDER_TIMESTAMP" datePattern="yyyy-MM"/>
    <timestamp key="FOLDER_TIMESTAMP_DAY" datePattern="dd"/>



    <!-- Load property from Spring Application context -->
    <springProperty name="logPath" source="log.path"/>

    <!-- Define log file path with date-based subdirectories -->
    <property name="LOG_DIR" value="${logPath:-./logs}"/>
    <property name="LOG_FILE_NAME" value="application-${EXECUTION_TIMESTAMP}.log" />
    <property name="LOG_FILE_PATH" value="${LOG_DIR}/${FOLDER_TIMESTAMP}/${FOLDER_TIMESTAMP_DAY}/application-${EXECUTION_TIMESTAMP}.log"/>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Create new log files daily inside year/month subdirectories with date in the file name -->
            <fileNamePattern>${LOG_DIR}/%d{yyyy/MM}/application-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING_FILE" />
    </root>

</configuration>
